.ColorScheme{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.5em;
    /* flex-wrap: nowrap; */
    /* background-color: var(--text-color); */
    border: 1px solid var(--border-color);
    border-radius: 10px;
    height: 1.4em;
    margin: 0.1em;
    padding: 0.2em;
    transition: transform 0.3s ease;
}

.ColorScheme:hover{
    border: 1px solid #00f0ff;
    transform: scale(1.02);
  }

.Toggle-dark-mode{
    border: none;
    text-decoration: none;
    color: var(--text-color);
}

.Toggle-dark-mode:hover{
    /* display: flex; */
    cursor: pointer;
    /* color: #00f0ff; */
    
}

  